@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: #fff;
  line-height: 1.6;
}

.container{
  width: 40%;
  margin: 0 auto;

}

.card {
    width: 40%;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.card.cardsort {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #03061e;
    border-radius: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 1rem;
}

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

input {
  height: 4rem;
  border: 3px solid #000000;
  width: 70%;
  font-size: 2rem;
}

.taskcount {
  text-align: center;
  font-size: 3rem;
}

.mainbutton {
  background-color: rgb(40, 170, 250);
  border: 1px solid #000;
  padding: 0.7rem 4rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}



.btn {
  border: 0;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  color: #000000;
  border-radius: 8px;
  cursor: pointer;
}

.btn-done {
  background-color: lightskyblue;
  margin-right: 1rem;
}

.todoh3{
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 15%;
}

.btn-deleted {
  background-color: #f9f9f9;
}